<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css" />

</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-items">
            <div class="navbar-left">
                <a class="item">Women</a>
                <a class="item">Men</a>
                <a class="item">Sale</a>
            </div>
            <div class="navbar-center">
                <img src="../images/Vector.png">
            </div>
            <div class="navbar-right">
                <a class="item">Contact</a>
                <a class="item">Sign In</a>
                <div class="cart-btn">
                    <div class="cart-items">0</div>

                    <p>Cart</p>

                </div>
            </div>

        </div>
    </nav>
    <!-- end of navbar -->
</body>

</html>