@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #f5f7f6;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainPriceColor: #999999;
  --mainButtonColor: #595959;
  --mainButtonTextColor: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  z-index: 5;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 5;
  background: var(--mainWhite);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  font-family: Inter;
  line-height: 15px;
  letter-spacing: var(--mainSpacing);
  font-weight: normal;
  color: var(--mainBlack);
}
.cart-item h5 {
  font-family: Inter;
  font-weight: normal;
  color: var(--mainPriceColor);
  line-height: 15px;
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  letter-spacing: var(--mainSpacing);
  display: flex;
  flex-direction: column;
}
.cart-footer h3 {
  font-family: Inter;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.total {
  margin: 1.5rem 0;
}

.total h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--mainBlack);
}

.taxes {
  margin: 1.5rem 0;
}

.taxes h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: var(--mainBlack);
}

.cart-total {
  font-family: Inter;
  color: var(--mainPriceColor);
  float: right;
}

/* --------------- End of Cart ---------------- */

.button {
  margin: 60px 0;

  display: flex;
  align-self: center;
}

.btn {
  background-color: var(--mainButtonColor);
  color: var(--mainButtonTextColor);
  margin: 10px 0;
  border: none;
  width: 315px;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid var(--mainButtonColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn:hover {
  background: var(--mainButtonTextColor);
  color: var(--mainBlack);
}
