@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #f5f7f6;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainPriceColor: #999999;
  --mainButtonColor: #595959;
  --mainButtonTextColor: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
}

/* --------------- Start of Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
}
.navbar-items {
  width: 100%;

  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin-right: 30px;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -15px;
  left: -8px;

  background: #4f4f4f;
  padding: 0 3px;
  border-radius: 40%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */

.main {
  grid-area: main;
  background: #e5e5e5;
}

/* Products */

.products {
  padding: 6rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5rem;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.red {
  color: #e01a1a;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 28.3125rem;
  height: -webkit-fill-available;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 10px;
  line-height: 12px;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: var(--mainSpacing);
  color: var(--mainPriceColor);
  text-align: center;
}

.product p {
  margin-top: 0.7rem;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: var(--mainSpacing);
  color: var(--mainPriceColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
