@import url("https://fonts.googleapis.com/css?family=Inter");

/* General */

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #f5f7f6;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainPriceColor: #999999;
  --mainButtonColor: #595959;
  --mainButtonTextColor: #e0e0e0;
}

body {
  font-family: Inter;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  background-color: #f5f7f6;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #404040;
}

section {
  padding: 0;
  margin: 0;
}

.highlight-color {
  color: #e01a1a;
}

.error-message {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #e01a1a;
}

.black-text-color {
  color: #000000;
}

.block-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: #e0e0e0;
  background-color: var(--mainButtonColor);
  color: var(--mainButtonTextColor);
  cursor: pointer;
}

.block-button:hover {
  background: var(--mainButtonTextColor);
  color: var(--mainBlack);
}

.display-none {
  display: none !important;
}

@media (max-width: 991.98px) {
  .display-medium {
    display: block !important;
  }

  .display-medium-none {
    display: none !important;
  }
}

@media only screen and (max-width: 575px) {
  .display-small {
    display: block !important;
  }

  .display-small-none {
    display: none !important;
  }
}

/* Cart */

.cart {
  position: fixed;
  top: 90px;
  right: -17px;
  width: 30%;
  height: 45%;
  z-index: 100;
  overflow-y: scroll;
  background-color: #ffffff;
}
.cart-header {
  position: fixed;
  top: 70px;
  width: inherit;
  height: 50px;
  padding: 45px 22px 0 32px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
}
.cart-close {
  float: right;
  margin-right: 80px;
  color: #999999;
  cursor: pointer;
}

.cart-header-expand {
  top: 0;
}

.cart-main-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 90px 0 65px 32px;
}
.cart-product {
  background-color: unset;
}
.cart-product .product-link {
  display: grid;
  grid-template-columns: 0.2fr 0.9fr;
  column-gap: 20px;
  width: inherit;
}
.cart-product .product-image {
  width: 80px;
  height: 80px;
}

.cart-product .product-image-caption {
  margin: 16px 0;
  word-wrap: break-word;
}
.cart-product .product-image-caption .cart-product-name {
  display: block;
  height: 20px;
  margin-bottom: 12px;
  font-size: 12px;
  text-transform: uppercase;
}

.cart-product-price,
.product-quantity {
  font-size: 12px;
  color: #999999;
}

.cart-main-content-expand {
  margin-top: 20px;
}

.cart-footer {
  position: fixed;
  bottom: 23%;
  width: inherit;
  padding: 25px 30px;
  font-size: 12px;
  background-color: #ffffff;
}
.cart-subtotal {
  width: 80%;
  padding-top: 25px;
  margin-bottom: 10px;
  align-items: center;
  border-top: 1px solid #c4c4c4;
}
.cart-value {
  float: right;
  color: #999999;
}

.cart-taxes {
  width: 80%;
  padding-bottom: 25px;
  border-bottom: 1px solid #c4c4c4;
}

.cart-total {
  width: 80%;
  margin: 25px 0 30px 0;
  font-size: 20px;
}

.cart-checkout {
  width: 80%;
}

@media (max-width: 991.98px) {
  .cart {
    width: calc(50% + 17px);
    height: 55%;
  }
  .cart-footer {
    bottom: 0 !important;
    font-size: 14px;
  }
  .cart-checkout {
    padding-top: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 575.98px) {
  .cart {
    right: 0;
    width: 100%;
  }
  .cart-header {
    top: 0;
  }

  .cart-main-content {
    margin: 25px 0 160px 32px;
  }

  .cart-footer {
    bottom: 0 !important;
  }

  .cart-checkout {
    padding-top: 25px;
    margin-bottom: 80px;
    margin-top: 90px;
  }
}

/* Checkout */

.checkout {
  padding: 0;
  margin: 0;
  background-color: #f5f7f6;
}
.block-button {
  width: 50%;
  margin-top: 20px;
  float: right;
}

.checkout-main-content {
  display: grid;
  grid-template-columns: 53%;
  margin: 0 60px -35px 60px;
}
.cart {
  top: 0;
  width: 40%;
  height: 70%;
  padding-left: 17px;
  z-index: 0;
  display: block !important;
}
.cart-main-content {
  margin-top: 110px;
  margin-bottom: 35px;
}

.cart-header {
  top: 0;
}
.cart-close {
  display: none;
}

.cart-footer {
  bottom: 0;
  right: 0;
  padding: 0;
  padding-bottom: 25px;
  height: 30%;
  width: inherit;
}
.cart-subtotal,
.cart-taxes,
.cart-total {
  margin: 15px 50px;
}

.cart-total {
  margin-top: 25px;
}

.cart-checkout {
  display: none;
}

.checkout-header {
  width: 60%;
  padding-top: 30px;
  text-align: center;
}
.checkout-navigation {
  margin-top: 40px;
  padding: 0;
  color: #c4c4c4;
}
.checkout-navigation-link {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  text-decoration: none;
}

.checkout-arrow {
  vertical-align: middle;
}

.checkout-main-content {
  margin-top: 50px;
  margin-bottom: 150px;
}
.checkout-information {
  display: grid;
  grid-template-columns: 1fr;
}
.error-message {
  bottom: 10px;
}

.checkout-contact-information {
  margin-bottom: 30px;
}

.checkout-width-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.error-message {
  top: 5px;
  display: block;
}

.checkout-payment-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.checkout-title {
  grid-area: 1 / 1 / 1 / 3;
  font-size: 20px;
}

.checkout-payment-method {
  grid-row: 2;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.paypal {
  background-image: url("/assets/payments/klarna.png");
}

.stripe {
  background-image: url("/assets/payments/paypal.png");
}

.apple-pay {
  background-image: url("/assets/payments/apple-pay.png");
}

.klarna {
  background-image: url("/assets/payments/stripe.png");
}

.checkout-chosen-method {
  box-sizing: border-box;
  border: 4px solid #5a85f2;
  border-radius: 4px;
}

.checkout-confirm {
  grid-area: 3 / 3 / 3 / 5;
  width: 100%;
}

.block-button {
  float: right;
  margin-top: 30px;
}

.checkout-label {
  display: block;
  margin-bottom: 25px;
  font-size: 20px;
}

.checkout-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}
.checkout-title {
  font-size: 20px;
}

.checkout-information {
  display: grid;
  grid-row: 2;
  font-size: 12px;
  color: #4f4f4f;
}
.checkout-email,
.checkount-confirm-country-or-region,
.checkout-phone-number {
  margin: 15px 0;
}
.checkout-full-name {
  font-weight: 600;
}

.checkout-message-main-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}
.checkout-message-header {
  grid-area: 1 / 1 / 1 / 1;
  font-size: 24px;
}

.checkout-message-body {
  grid-area: 3 / 1 / 3 / 1;
  font-size: 12px;
  color: #4f4f4f;
}

@media (max-width: 991.98px) {
  .block-button {
    width: 100%;
  }

  .checkout-main-content {
    display: grid;
    grid-template-columns: 50%;
    margin: 50px 40px 150px 35px;
  }
  .cart {
    width: 45%;
  }
  .cart-footer .cart-subtotal {
    width: 70%;
  }

  .cart-taxes {
    width: 70%;
  }

  .cart-total {
    width: 70%;
  }

  .checkout-width-50 {
    grid-template-columns: 1fr;
  }

  .checkout-payment-options {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    margin-bottom: 15px;
  }

  .checkout-main-content .checkout-title {
    grid-area: 1 / 1 / 1 / 3;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .checkout-main-content .checkout-payment-method {
    grid-row: auto;
  }

  .checkout-main-content .checkout-confirm {
    display: grid;
    row-gap: 5px;
  }
  .checkout-title {
    margin-bottom: 10px;
  }

  .checkout-information {
    font-size: 14px;
  }

  .checkout-message-body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575.98px) {
  .checkout-header {
    width: 100%;
    margin-bottom: 50px;
  }

  .checkout-main-content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 30px 150px 30px;
  }

  .cart {
    visibility: hidden;
  }
}

/* Footer */

.footer {
  display: grid;
  position: relative;
  width: 100%;
  bottom: 0;
  height: 70px;
  background-color: #eef0ef;
  text-align: center;
}
.footer-copyright {
  margin: 25px;
  color: #d2d6d4;
}
