@import url("https://fonts.googleapis.com/css?family=Inter");

/* General */

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #f5f7f6;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainPriceColor: #999999;
  --mainButtonColor: #595959;
  --mainButtonTextColor: #e0e0e0;
}

body {
  font-family: Inter;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

/* .display-none {
  display: none !important;
} */

.block-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: #e0e0e0;
  background-color: #595959;
  cursor: pointer;
  float: right;
}

.block-button:hover {
  color: #ffffff;
}

.block-button:focus {
  border: 2px solid #4d4d4d;
  padding: 8px 0;
}

/* Cart */

.cart {
  position: fixed;
  top: 90px;
  right: -17px;
  width: 30%;
  height: 40%;
  z-index: 100;
  overflow-y: scroll;
  background-color: #ffffff;
}
.cart-header {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 50px;
  padding: 45px 22px 0 32px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
}

.cart-main-content {
  margin: 95px 0 30px 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.cart-products {
  display: grid;
  grid-template-columns: 50%;
  row-gap: 20px;
}
.cart-product {
  display: grid;
  column-gap: 20px;
}
.cart-image {
  width: 80px;
  height: 80px;
}

.cart-information {
  grid-column: 2;
  width: 150px;
  margin: 16px 0;
  word-wrap: break-word;
}

.cart-name {
  display: block;
  height: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 12px;
}

.cart-price,
.cart-quantity {
  font-size: 12px;
  color: #999999;
}

.cart-footer {
  position: fixed;
  bottom: 23.5%;
  width: inherit;
  padding: 30px;
  font-size: 12px;
  background-color: #ffffff;
}
.cart-subtotal {
  padding-top: 25px;
  margin-bottom: 10px;
  width: 80%;
  align-items: center;
  border-top: 1px solid #c4c4c4;
}
.cart-price {
  float: left;
  color: #999999;
}

.cart-subprice {
  float: right;
  color: #999999;
}

.cart-taxes {
  padding-bottom: 25px;
  width: 80%;
  border-bottom: 1px solid #c4c4c4;
}
.cart-value {
  float: right;
  color: #999999;
}

.cart-total {
  margin: 25px 0 28px 0;
  width: 80%;
  font-size: 20px;
}
.cart-value {
  float: right;
}

.cart-checkout {
  width: 80%;
}

/* Checkout */

.checkout {
  padding: 0;
  margin: 0;
  background-color: var(--mainBacground);
}
.block-button {
  width: 50%;
}

.checkout-main-content {
  display: grid;
  grid-template-columns: 53%;
  margin: 0 60px -35px 60px;
}
.cart {
  top: 0;
  width: 40%;
  height: 70%;
  padding-left: 15px;
}
.cart-header {
  top: 0;
  margin-bottom: 20px;
}

.cart-footer {
  bottom: 0;
  right: -82.5px;
  height: 26%;
  width: inherit;
  padding-left: 50px;
}
.cart-checkout {
  display: none;
}

.checkout-header {
  width: 60%;
  padding-top: 5%;
  text-align: center;
}
.checkout-navigation {
  margin-top: 40px;
  padding: 0;
  color: #c4c4c4;
}
.checkout-navigation-link {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  text-decoration: none;
}

.arrow {
  vertical-align: middle;
}

.form {
  margin-top: 50px;
  margin-bottom: 100px;
}
.form-information {
  display: grid;
  grid-template-columns: 1fr;
}
.form-contact-information {
  margin-bottom: 30px;
}

.form-width-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.form-payment-main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.checkout-title {
  grid-area: 1 / 1 / 1 / 3;
  font-size: 20px;
}

.form-payment-method {
  grid-row: 2;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.paypal {
  background-image: url("../assets/payments/paypal.png");
}

.stripe {
  background-image: url("../assets/payments/stripe.png");
}

.apple-pay {
  background-image: url("../assets/payments/apple-pay.png");
}

.klarna {
  background-image: url("../assets/payments/klarna.png");
}

.form-chosen-method {
  box-sizing: border-box;
  border: 4px solid #5a85f2;
  border-radius: 4px;
}

.form-confirm {
  grid-area: 3 / 3 / 3 / 5;
  width: 100%;
}

/* .block-button {
  width: 50%;
  margin-top: 10px;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: #e0e0e0;
  background-color: #595959;
  cursor: pointer;
  float: right;
} */

.block-button {
  background-color: var(--mainButtonColor);
  color: var(--mainButtonTextColor);
  margin: 10px 0;
  border: none;
  width: 315px;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid var(--mainButtonColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.block-button:hover {
  background: var(--mainButtonTextColor);
  color: var(--mainBlack);
}

/* .block-button:focus {
  border: 2px solid #4d4d4d;
  padding: 8px 0;
} */

.form-label {
  display: block;
  margin-bottom: 25px;
  font-size: 20px;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}

.checkout-confirm-main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
}
.checkout-confirm-title {
  font-size: 20px;
}

.checkout-confirm-information {
  display: grid;
  grid-row: 2;
  font-size: 12px;
  color: #4f4f4f;
}

.checkout-confirm-full-name {
  font-weight: 600;
}

.checkout-confirm-email,
.checkout-confirm-country,
.checkout-confirm-phone-number {
  margin-bottom: 15px;
}

.checkout-confirm-payment-method {
  margin-right: 5px;
  font-weight: 600;
}

.checkout-confirm-button {
  grid-column: 1/3;
  grid-row: 4;
  margin-left: 10%;
}

.checkout-message-main-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.checkout-message-header {
  grid-area: 1 / 1 / 1 / 1;
  font-size: 24px;
}

.checkout-message-body {
  grid-area: 3 / 1 / 3 / 1;
  font-size: 12px;
  color: #4f4f4f;
}

.footer {
  grid-area: footer;
  margin-top: 240px;
  background: #eef0ef;
  height: 70px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}
