/* --------------- Start of Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
}
.navbar-items {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin-right: 30px;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -18px;
  left: -8px;

  background: #4f4f4f;
  padding: 0 3px;
  border-radius: 40%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */
