@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #f5f7f6;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainPriceColor: #999999;
  --mainButtonColor: #595959;
  --mainButtonTextColor: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
}

/* --------------- Start of Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
}
.navbar-items {
  width: 100%;

  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin-right: 30px;
  font-size: 0.875rem;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  font-size: 0.875rem;

  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -12px;
  left: -10px;
  font-size: 0.5rem;
  background: #4f4f4f;
  padding: 3px 5px;
  font-weight: 600;
  line-height: 8px;
  border-radius: 40%;
  color: var(--mainWhite);
}

.sale {
  color: #e01a1a;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
/* --------------- End of Navbar ---------------- */

.main {
  grid-area: main;
  margin: 0;
  background: var(--mainBacground);
}

/* Products */

.container {
  display: flex;
}

.container-bottom {
  display: flex;
}
.fading-image {
  width: 50%;
}

div#full-size {
  /* display: flex;
  flex-direction: row;
  width: 50%; */
  height: 720px;
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 10px;
  background-size: contain;
}

div#products-center {
  /* width: 100%; */
  margin-left: 60px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 2rem;
}

@media (min-width: 1281px) {
  div#products-center {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  div#products-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  div#products-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  div#products-center {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 281px) and (max-width: 480px) {
  div#products-center {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-top: 0.75rem;
  min-height: 11.25rem;
  height: -webkit-fill-available;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

/* div#gallery {
  width: 250px;
  float: left;
} */

/* div#gallery img {
  width: 100px;
  margin: 10px;
} */

div.slope {
  background: url("../assets/images/women-product-1.png") no-repeat left top;
}

div.trees {
  background: url("../assets/images/women-product-2.png") no-repeat left top;
}

div.drycanyon {
  background: url("../assets/images/women-product-3.png") no-repeat left top;
}

div.range {
  background: url("../assets/images/women-product-4.png") no-repeat left top;
}

div.cotton {
  background: url("../assets/images/women-product-5.png") no-repeat left top;
}

div.material {
  background: url("../assets/images/women-product-6.png") no-repeat left top;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 60px;
  margin-top: 100px;
  width: 50%;
  float: right;
}

.product h3 {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 29px;
  /* margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center; */
}

.product h4 {
  display: flex;
  margin-top: 0.7rem;
  font-size: 20px;
  line-height: 24px;

  color: var(--mainPriceColor);
  /* s */
}

.product p {
  margin-top: 0.7rem;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: var(--mainSpacing);
  color: var(--mainPriceColor);
  /* text-align: center; */
}

.description-1 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 211px;
}

.description-2 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 149px;
}

.description p {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 15px;
}

.button {
  margin: 60px 0;
}

.btn {
  background-color: var(--mainButtonColor);
  color: var(--mainButtonTextColor);
  margin: 10px 0;
  border: none;
  width: 315px;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid var(--mainButtonColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn:hover {
  background: var(--mainButtonTextColor);
  color: var(--mainBlack);
}

.products {
  padding: 6rem 0;
}

.section-title h2 {
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5rem;
  color: #999999;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img-bottom {
  display: block;
  width: 100%;
  min-height: 28.125rem;
  height: -webkit-fill-available;
  transition: var(--mainTransition);
}
.img-container:hover .product-img-bottom {
  opacity: 0.5;
}

.product-bottom h3 {
  text-transform: capitalize;
  font-size: 10px;
  line-height: 12px;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product-bottom h4 {
  margin-top: 0.7rem;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: var(--mainSpacing);
  color: var(--mainPriceColor);
  text-align: center;
}
*/ */ .footer {
  grid-area: footer;
  margin: 0;
  background: #eef0ef;
  height: 70px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}
