@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainBacground: #e5e5e5;
  --mainFooterBacground: #eef0ef;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
}

/* --------------- Start of Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
}
.navbar-items {
  width: 100%;

  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin-right: 30px;
  font-size: 0.875rem;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  font-size: 0.875rem;

  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -12px;
  left: -10px;
  font-size: 0.5rem;
  background: #4f4f4f;
  padding: 3px 5px;
  font-weight: 600;
  line-height: 8px;
  border-radius: 40%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */

.main {
  grid-area: main;
  margin: 0;
  background: #e5e5e5;
}

/* Products */

.container-1 {
  background: var(--mainBacground);
}

.women-section {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 10px;
  padding-top: 52px;
  width: 50%;
}

.products-center {
  width: 90vw;
  margin: 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  margin-top: 0.75rem;
  min-height: 11.25rem;
  height: -webkit-fill-available;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

p#cf7_controls {
  text-align: center;
}
#cf7_controls span {
  padding-right: 2em;
  cursor: pointer;
}
#cf7 {
  position: relative;
  height: 281px;
  width: 450px;
  margin: 0 auto 10px;
}
#cf7 img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.footer {
  grid-area: footer;
  margin: 0;
  background: #eef0ef;
  height: 70px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}
